Once we have the average Sentiment Score per each state in India, then we can move on to Geomapping with the GeoJSON file and plotly.

In [ ]:
# !pip install plotly
# !pip install nbformat

In [ ]:
# !pip install --upgrade nbformat

In [ ]:
import json
import pandas as pd
import plotly.express as px

In [ ]:
import geojson
with open('C:\Data Science\Jupyter_Workspace\Twitter_Sentiment\Dash Deployment\states_india.geojson') as f:
    india_states = geojson.load(f)

In [ ]:
india_states["features"][0]["properties"]["st_nm"]

In [ ]:
state_path = "C:\Data Science\Jupyter_Workspace\Twitter_Sentiment\Data\March27_20\Hydrated\mar27_state_df.csv"

In [ ]:
state_df = pd.read_csv(state_path)

In [ ]:
india_states["features"][0]["properties"]

In [ ]:
state_df.head(5)

In [ ]:
state_id_map = {}
for feature in india_states["features"]:
    feature["id"] = feature["properties"]["st_nm"]

In [ ]:
state_df

In [ ]:
 import plotly.io as pio
pio.renderers.default = 'notebook_connected'

In [ ]:
pio.renderers

In [ ]:
fig = px.choropleth_mapbox(state_df, 
                    locations = 'state', 
                    geojson = india_states,
                    range_color=(-1, 1),
                    color = 'vader_score', 
                    #hover_name = "state", 
                    mapbox_style = "carto-positron",
                    color_continuous_scale = px.colors.diverging.RdBu, 
                    color_continuous_midpoint = 0,
                    center = {'lat': 24, 'lon': 78}, 
                    zoom = 2.85, 
                    labels = {'vader_score': 'Sentiment Score'},
                    title = "Sentiment Map")
fig.show()

# Experimenting

In [2]:
import pandas as pd
path = "C:\Data Science\Jupyter_Workspace\Twitter_Sentiment\Data\JSONLs\\final_df.csv"
df = pd.read_csv(path)
df

                  state  vader_score      date
0        Andhra Pradesh     0.064054  20200320
1    Arunanchal Pradesh    -0.231850  20200320
2                 Assam    -0.655828  20200320
3                 Bihar     0.123923  20200320
4          Chhattisgarh     0.223450  20200320
..                  ...          ...       ...
140          Tamil Nadu     0.224433  20200501
141           Telangana     0.272925  20200501
142       Uttar Pradesh     0.267152  20200501
143         Uttarakhand     0.631180  20200501
144         West Bengal     0.076367  20200501

[145 rows x 3 columns]

In [4]:
dff = df.copy()
dff = dff[dff["date"] == 20200327]
message = dff["state"].iloc[0]
message

'Andhra Pradesh'